*.pyc
*.pyo
__pycache__/
*.db
*.sqlite3
*.log

*.pot
*.py[cod]
*.swp
*.swo
*.bak
*.dylib

venv/
env/
.venv/
.env/
.venv/
virtualenv/
*.env
*.venv
*.virtualenv

.idea/

.vscode/

*.db-journal
*.log
*.pot

/static/
/media/

*.env

.DS_Store

channel_layer_data/
*.pid

*.sql
*.sqlite3

*/migrations/*
